#In SQL

In [0]:
%sql
create or replace table from_sql_to_df.test_table 
(
  Name string,
  Age int
);


insert into from_sql_to_df.test_table
values ('John',50), ('George',60),('Paul',67),('Ringo',75)

In [0]:
%sql
select * from from_sql_to_df.test_table

#In Pandas

In [0]:
import pandas as pd

dt = {'Name':['John','George','Paul','Ringo'],
      'Age':[50,60,67,75]}

df = pd.DataFrame(data=dt)

df

#In Spark

In [0]:
# Create a Spark DataFrame
data = [("John", 50), ("George", 60), ("Paul", 67), ("Ringo", 75)]
columns = ["Name", "Age"]
spark_df = spark.createDataFrame(data, columns)

In [0]:
spark_df.display()

In [0]:
# Save as a table in the metastore. use parenthesis for multiline method 
(
spark_df.write
        .format("delta")
        .mode("overwrite")
        .saveAsTable("from_sql_to_df.spark_test_table")
)

In [0]:
%sql
select * from from_sql_to_df.spark_test_table

In [0]:
import polars as pl

data = [("John", 50), ("George", 60), ("Paul", 67), ("Ringo", 75)]
columns = ["Name", "Age"]

pl_df = pl.DataFrame(data, schema=columns)

pl_df
#pl_df.write_parquet("/dbfs/tmp/from_sql_to_df_polars_test_table.parquet")